# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Windwos
Thumbs.db

# Maven
log/
target/

#self
templates/**/*.pdf
database.mv.db
/database.trace.db
/privat/
/logs/
/h2db/
