body {
    padding-top: 90px;
    padding-left: 15px;
    margin-right: 30px;
    color: #f8f8f8;
    font-family: 'Raleway', sans-serif;
}

p {
    text-justify: inter-word;
}

footer {
    position: fixed;
    height: 35px;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    margin-left: -15px;
}

footer p {
    margin-top: 0px;
    padding: 8px;
}

form.form-horizontal {
    max-width: 720px;
    padding: 15px;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
    color: #22376f;
}

label[for=roomId], label[for=roomPin] {
    font-size: large;
}

input[id=roomId], input[id=roomPin] {
    border-radius: 10px;
    margin-bottom: 5px;
    outline: none;
}


html {
    scroll-behavior: smooth;
}

thead {
    text-align: center;
    color: #22376f;
}

tbody {
    text-align: center;
}

.btn-for-collapsible i {
    float: right;
}

.btn-for-faq.btn:hover {
    background-color: #28346c;
    color: white;
}

.btn-for-faq.btn:focus {
    box-shadow: none;
}

.btn-for-faq.btn {
     margin: 15px 0 15px 0;
     background-color: #d6d6d6;
     text-align: left;
}

.btn-for-index-page, #sendRoom {
    color: white;
    background-color: #22376f;
    border-radius: 10px;
    border: none;
    padding: 3px 10px;
    width: 120px;
}

.btn-for-index-page:hover, #sendRoom:hover {
    background-color: #3f6fd7;
    color: white;
    text-decoration: none;
}

.centerImg {
    display: block;
    max-width: 330px;
    max-height: 800px;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
    padding-top: 25px;
}

.backButton{
    padding: 6px;
    background-color: #22376f;
    border-radius: 10px;
}

.backButton:hover{
    text-decoration: none;
    background-color: #3f6fd7;
}

.btn-for-collapsible i {
    float: right;
}

.collapseMarginBottom{
    margin-bottom: 60px;
}

#checkinContainer {
    margin: 5px;
    padding: 15px;
    border: solid black thin;
}

#checkIn {
    font-size: x-large;
}

#collapseButtonInfo {
    background-color: #22376f;
}

#collapseButtonInfo:hover {
    background-color: #3f6fd7;
}

#collapseBtnCheckIn {
    background-color: #22376f;
}

#collapseBtnCheckIn:hover {
    background-color: #3f6fd7;

}

#collapseBtnCheckOut{
    background-color: #22376f;

}

#collapseBtnCheckOut:hover{
    background-color: #3f6fd7;

}

#deviceChoice .nav-tabs li > a {
    text-transform: capitalize;
    color: #22376f;
    transition: background-color .2s, color .2s;
}

#deviceChoice .nav-tabs li > a:hover {
    background-color: #22376f;
    color: #fff;
}

#deviceChoice .nav-tabs li > a:focus {
    background-color: #22376f;
    color: #fff;
}

#deviceChoice .nav-tabs li.active > a {
    background-color: #22376f;
    color: #fff;
}

#faq-page-container {
    margin-bottom: 100px;
}

#learningRoomsTable{
  width: 60%;
}

.errorMessage{
    font-size: xx-large;
    padding-bottom: 15px;
}
.index-page-grid{
    display: grid;
    grid-template-columns: repeat(2,150px);
}
