<div class="border border-secondary pt-2 pl-2 pr-2 pb-n2 mb-3">
    <h5 class="mb-4" th:text="|${welche} Veranstaltungen|"></h5>

    <div th:if="${#lists.isEmpty(events)}">
        <p>In dieser Ansicht sind aktuell keine Veranstaltungen vorhanden. Eine neue Veranstaltung k&ouml;nnen Sie <a
                href="/neuVer">hier</a> anlegen.</p>
    </div>

    <input th:if="!${#lists.isEmpty(events)}" type="text" id="filter" onkeyup="myFilter()"
           placeholder="Tabelle nach Eingabe filtern..." size="24" autofocus/>

    <table th:if="!${#lists.isEmpty(events)}" class="table table-hover mt-3" id="veranstaltungsliste">
        <thead class="table-info">
        <tr>
            <th>Veranstaltungsname</th>
            <th>Datum</th>
            <th>Raumkapazit&auml;t</th>
        </tr>
        </thead>

        <tr th:each="event: ${events}" onclick="javascript: window.location=this.children[0].children[0].href;">

            <td sec:authorize="isAnonymous()">
                <a th:href="@{/besuch?vid={id}(id=${event.id})}"><span th:text="${event.name}"></span></a>
            </td>
            <td sec:authorize="isAuthenticated()">
                <a th:href="@{/zeige?vid={id}(id=${event.id})}"><span th:text="${event.name}"></span></a>
            </td>

            <td>am <span th:text="|${#dates.format(event.datum, 'dd.MM.yyyy, HH:mm')} Uhr|"></span></td>

            <td><span th:text="${event.raumkapazitaet}"></span> Personen</td>
        </tr>

    </table>
</div>

<script>
function myFilter() {
	  var input, filter, table, tr, td, i;
	  input = document.getElementById("filter");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("veranstaltungsliste");
	  
	  tr = table.getElementsByTagName("tr");
	  for (var i = 1; i < tr.length; i++) {
	    var tds = tr[i].getElementsByTagName("td");
	    var flag = false;
	    for(var j = 0; j < tds.length; j++){
	      var td = tds[j];
	      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
	        flag = true;
	        break;
	      } 
	    }
	    if(flag){
	        tr[i].style.display = "";
	    }
	    else {
	        tr[i].style.display = "none";
	    }
	  }
	}

</script>