<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Error</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Es ist ein Fehler aufgetreten</h1>
    <h3>Das Event konnte nicht gefunden werden</h3>
    <div class="errorMessage">Error: Event not found</div>
    <div style="text-align: center"><a style="color: white" class="backButton" href="javascript:history.back()">Go Back</a></div>

</div>
</body>
</html>