<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Erfolgreich angemeldet</title>
</head>

<body>
<div layout:fragment="content">

    <!-- Todo evtl noch anzeigen aus welcher Veranstaltung man sich abgemeldet hat-->

    <div class="border border-secondary p-2">
        <h2 class="mb-4">Sie wurden erfolgreich aus dem Raum ausgecheckt. Vielen Dank!</h2>

    </div>
</div>


</body>

</html>