


    <title>Datenschutzerkl&auml;rung</title>



<div layout:fragment="content">

    <h4>Datenschutzerklärung</h4>

<p>Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist:
<span><br>Prof. Dr. Sven-Gunnar Klaus<br>
Paul-Wittsack-Str. 10<br>
68163 Mannheim<br>
Telefon: +49 (0) 176 63331177<br>
Email: <a href="mailto:s.klaus@hs-mannheim.de" rel="noopener" target="_blank">s.klaus@hs-mannheim.de</a></span></p>

   <p>Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und die Zwecke der Erhebung und Verwendung
        personenbezogener Daten
        bei der Corona-Kontaktverfolgung an der Hochschule Mannheim auf.</p>



    <p>Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst. So behandeln wir Ihre personenbezogenen
        Daten selbstverständlich stets entsprechend der gesetzlichen Datenschutzvorschriften. Wir haben einen
        fachkundigen und zuverlässigen externen
        Datenschutzbeauftragten bestellt. Die externe Datenschutzbeauftragung wird von der UIMC Dr. Voßbein GmbH &amp;
        Co KG, die unter
        <a href="#" rel="noopener" class="crypted" data-name="datenschutzbeauftragter" data-domain="hs-mannheim" data-tld="de"  target="_blank">
   		</a>    
        erreichbar ist, wahrgenommen. Nachfolgend möchten wir Sie genauer über die Verarbeitung von personenbezogenen Daten informieren.</p>

<h4>Ihre Betroffenenrechte</h4>
<p>Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende Rechte ausüben:</p>
<ul>
<li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung (Art. 15 DSGVO),</li>
<li>Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
<li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
<li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen (Art. 18 DSGVO),</li>
<li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und</li>
<li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben (Art. 20 DSGVO).</li>
</ul>
<p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft widerrufen.</p>
<p>Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde wenden, z. B. an die zuständige Aufsichtsbehörde des Bundeslands Ihres Wohnsitzes oder an die für uns als verantwortliche Stelle zuständige Behörde.</p>
<p>Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter: <a href="/SRedirect/8B7AAE77/www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html" rel="noopener" target="_blank" rel="noopener nofollow" target="_blank">https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html</a>.</p>


    <h4>Cookies</h4>
    <p>Diese Seite verwendet „Cookies“ ausschließlich zur internen Nutzung. Cookies sind Textdateien, die auf Ihrem
        Computer
        gespeichert werden und die eine verbesserte Nutzung dieser Internetpräsenz ermöglichen. Sie können die
        Installation der Cookies durch eine entsprechende Einstellung
        Ihres Browsers verhindern. Dies kann ggf. dazu führen, dass Sie nicht alle Angebote vollumfänglich nutzen
        können.</p>

    <h4>Protokollierung </h4>
    <p>Bei jedem Zugriff auf die Internetpräsenz werden Protokolle zu statistischen Zwecken erstellt und verarbeitet,
        wobei der einzelne Benutzer hierbei anonym bleibt. Folgende Daten werden erfasst: </p>
    <ul>
        <li>IP-Adresse und Zugriffszeit</li>
        <li>Zugegriffene Ressourcen und ggf. Referer (Seite, von deren Link Sie zu dieser Internetpräsenz gelangt sind,
            bei Suchmaschinen evtl. die Suchbegriffe)
        </li>
        <li>Browser und Betriebssystem</li>
    </ul>
    <p>Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte
        für eine rechtswidrige Nutzung bekannt werden. Die Daten werden umgehend gelöscht, wenn sie zur Zweckerreichung
        nicht mehr erforderlich sind,
        spätestens jedoch nach sechs Monaten.</p>

    <h4>Rechtsgrundlagen</h4>
    <p>Die genannten Daten werden auf Basis unseres berechtigten Interesses gemäß Art. 6 Abs. 1 S. 1 lit. f DSGVO durch
        uns zu folgenden
        Zwecken verarbeitet: </p>
    <ul>
        <li>Erfassung der Anwesenheiten von Veranstaltungsteilnehmern und Besuchern im Rahmen der Coronamaßnahmen auf
            Basis der Verordnung
            der Landesregierung über infektionsschützende Maßnahmen gegen die Ausbreitung des Virus SARS-CoV-2
            (Corona-Verordnung–CoronaVO) insb. § 6
        </li>
        <li>Verordnung des Wissenschaftsministeriums über infektionsschützende Maßnahmen gegen die Ausbreitung des Virus
            SARS-CoV-2 im
            Geschäftsbereich des Wissenschaftsministeriums (Corona-Verordnung Studienbetrieb und Kunst – CoronaVO
            Studienbetrieb und Kunst) insb. § 4.
        </li>
        <li>Gewährleistung eines reibungslosen Verbindungsaufbaus der Internetpräsenz</li>
        <li>Gewährleistung einer komfortablen Nutzung unserer Internetpräsenz</li>
        <li>Auswertung der Systemsicherheit und -stabilität</li>
    </ul>

    <h4>Nutzung zur Kontaktverfolgung</h4>
    <p>Die gespeicherten Kontaktdaten werden ausschließlich zur Nachverfolgung von Infektionsketten bei Anfrage durch
        das Gesundheitsamt genutzt
        und ggf. an dieses weitergegeben.</p>

    <p> Die gespeicherten Kontaktdaten unterscheiden sich nach Personengruppen wie folgt:</p>
    <ul>
        <li>Studierende und Bedienstete der Hochschule: Mailadresse</li>
        <li>Gäste: Vorname und Name sowie Mailadresse oder Telefonnummer</li>
    </ul>

    <p>Kontaktdaten werden für 28 Tage nach dem Besuch bzw. der Teilnahme an einer Veranstaltung an der Hochschule
        gespeichert und danach automatisiert gelöscht.</p>

<h4>Information über Ihr Widerspruchsrecht nach Art. 21 DSGVO</h4>
<h5>Einzelfallbezogenes Widerspruchsrecht</h5>
<p>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund Art. 6 Abs. 1 lit. f DSGVO (Datenverarbeitung auf der Grundlage einer Interessenabwägung) erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmung gestütztes Profiling im Sinne von Art. 4 Nr. 4 DSGVO.</p>
<p>Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>
<h5>Empfänger eines Widerspruchs</h5>
<p>
<span>Prof. Dr. Sven-Gunnar Klaus<br>
Paul-Wittsack-Str. 10<br>
68163 Mannheim<br>
Telefon: +49 (0) 176 63331177<br>
Email: <a href="mailto:s.klaus@hs-mannheim.de" rel="noopener" target="_blank">s.klaus@hs-mannheim.de</a></span></p>

<h4>Änderung unserer Datenschutzbestimmungen</h4>
<p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</p>
<h4>Fragen an den Datenschutzbeauftragten</h4>
<p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die für den Datenschutz verantwortliche Person in unserer Organisation:
<span><br>Prof. Dr. Sven-Gunnar Klaus<br>
Paul-Wittsack-Str. 10<br>
68163 Mannheim<br>
Telefon: +49 (0) 176 63331177<br>
Email: <a href="mailto:s.klaus@hs-mannheim.de" rel="noopener" target="_blank">s.klaus@hs-mannheim.de</a></span></p>

</div>



