<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Anwesenheit eintragen</title>
</head>

<body>
<div layout:fragment="content">

    <div class="border border-secondary p-2">
        <h5 class="mb-4">Willkommen zur Veranstaltung <span th:text="${name}">name</span></h5>

        <p>Bitte geben Sie hier Ihre Mail-Adresse ein, um ggf. eine Kontaktverfolgung zu ermöglichen.</p>

        <form th:action="@{/senden}" method="POST">
            <input type="hidden" id="vid" name="vid" th:value="${vid}"/>

            <div class="row form-group">
                <label class="col-sm-2" for="email">EMail: *</label>
                <input class="col-sm-4" type="email" id="email" name="email" placeholder="EMail" size="32" required
                       autofocus/>

                <input class="col-sm-1 ml-3 mt-n1" type="checkbox" id="saveMail" name="saveMail" checked>
                <label class="col-sm-5 ml-n4" for="saveMail">Mail-Adresse für nächstes Mal im Browser speichern</label>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-info">Absenden</button>
                </div>
                <p><small><i>* = notwendige Eingabe</i></small></p>
            </div>
        </form>


        <script>
            var c = document.cookie.match('(^|;)\\s*' + 'email' + '\\s*=\\s*([^;]+)');
            document.getElementById("email").value = c ? c.pop() : '';
        </script>
    </div>
</div>


</body>

</html>