<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Error</title>
</head>

<body>

<div layout:fragment="content">
    <div>Es ist ein Fehler aufgetreten!</div>
      
    <div>Leider ist uns dieser Fehler nicht bekannt. Bitte melden Sie ihn an: 
      <a href="#" class="crypted" data-name="ctt-admin" data-domain="hs-mannheim" data-tld="de"
   	            onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;">
      </a>
   </div>
</div>

</body>

</html>
