<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>FAQ</title>
</head>

<body>
<div style="margin-bottom: 50px" layout:fragment="content">
    <h4>Frequently Asked Questions</h4>

    <div  id="faqContainer" th:each="question,iter : ${questions}">
        <div class="btn-container">
            <button class="btn btn-block btn-for-collapsible btn-for-faq" id="q-button-+${iter.index}" type="button"
                    data-toggle="collapse"
                    th:attr="data-target='#collapseInfo'+${iter.index}"
                    aria-expanded="false" aria-controls="collapseInfo" th:text="${question}"><i
                    class="fa fa-plus-square"></i>
            </button>
        </div>
        <div class="collapse card card-body" th:id="collapseInfo+${iter.index}">
            <div th:remove="tag" th:utext="${answers[iter.index]}"></div>
        </div>
    </div>
</div>
</body>
</html>

