<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<link rel="stylesheet" href="main.css">
<head>
    <meta charset="UTF-8">
    <title>Login mit Inkognito Modus</title>

</head>
<body>
<div layout:fragment="content">

    <nav id="deviceChoice">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="active"><a class="nav-item nav-link" id="nav-firefox-tab" data-toggle="tab"
                                  href="#firefox" role="tab" aria-controls="nav-android-firefox"
                                  aria-selected="true">Firefox</a></li>
            <li><a class="nav-item nav-link" id="nav-iOS-safari-tab" data-toggle="tab" href="#nav-safari" role="tab"
                   aria-controls="nav-iOS-safari" aria-selected="false">Safari</a></li>
            <li><a class="nav-item nav-link" id="nav-iOS-chrome-tab" data-toggle="tab" href="#chrome" role="tab"
                   aria-controls="nav-iOS-chrome" aria-selected="false">Chrome</a></li>
        </ul>
    </nav>
    <!-- Firefox -->
    <div class="tab-content" id="nav-tabContent">
        <div class="active tab-pane active" id="firefox" role="tabpanel" aria-labelledby="nav-firefox-tab">
            <h5>Inkognito im Firefox</h5>
            <p>Zum Anmelden von mehreren Personen müssen Sie lediglich einen
                neuen Inkognito-Tab auf ihrem Endgerät öffnen.</p>
            <p>Drücken Sie lange, oder mit einem Rechtsklick auf den <a style="font-weight: bold; color: #22376f" href="howToQr">link</a> und wählen Sie "Link in privatem Tab öffnen" aus, um direkt auf die Anleitung zum einloggen zu gelangen</p>
            <p>Alternativ können Sie zuerst auf das Tab Symbol im Browser drücken, dann auf das Maskensymbol (Privates Surfen)</p>
            <img class="centerImg" src="/images/firefox-Inkognito.png" alt="Firefox Inkognito Modus">
        </div>

        <!-- chrome-->
        <div class="tab-pane fade" id="chrome" role="tabpanel" aria-labelledby="nav-iOS-tab">
            <h5>Inkognito im Chrome</h5>
            <p>Zum Anmelden von mehreren Personen müssen Sie lediglich einen
                neuen Inkognito-Tab auf ihrem Endgerät öffnen.</p>
            <p>Drücken Sie lange, oder mit einem Rechtsklick auf den <a style="font-weight: bold; color: #22376f" href="howToQr">link</a> und wählen Sie "Link in Inkognito-Fenster öffnen" aus, um direkt auf die Anleitung zum einloggen zu gelangen</p>
            <p>Drücken Sie zuerst auf die drei Punkte, dann auf "Neuer Inkognito-Tab"</p>
            <img class="centerImg" src="/images/chromeInkognito.png" alt="Chrome Inkognito Modus">
        </div>

        <!-- Safari-->
        <div class="tab-pane fade" id="nav-safari" role="tabpanel" aria-labelledby="nav-iOS-tab">
            <h5>Inkognito im Safari</h5>
            <p>Zum Anmelden von mehreren Personen müssen Sie lediglich einen
                neuen Inkognito-Tab auf ihrem Endgerät öffnen.</p>
            <p>Drücken Sie zuerst auf das Tab-Symbol unten rechts</p>
            <img class="centerImg" src="/images/safari-Inkognito-Step1.png" alt="Safari-Step1-Inkognito Modus">
            <p>Dann drücken Sie unten links auf Privat</p>
            <img class="centerImg" src="/images/safari-Inkognito-Step2.png" alt="Safari-Step2-Inkognito Modus">
            <br>

        </div>
    </div>

</div>


</body>
</html>
