<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<title>Datenschutzerkl&auml;rung</title>
</head>

<body>
	<div layout:fragment="content">
	
		<h4>Datenschutzerklärung</h4>
		
		<p><b>Das Internetangebot wird herausgegeben von</b><br />Hochschule Mannheim<br />Paul-Wittsack-Straße 10<br />68163 Mannheim
		<br /><span class="u-icon--link-phone">+49 621 292-6111</span><br /><span class="u-icon--link-fax">+49 621 292-6420</span>
		<br /><a href="/datenschutzerklaerung.html" class="mailicon">info@hs-mannheim.de</a></p>
		
		<p>Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist:&nbsp; 
		<br />Prof. Dr. Astrid Hedtke-Becker, Rektorin </p><h5>Geltungsbereich</h5>
		<p>Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und die Zwecke der Erhebung und Verwendung personenbezogener Daten 
		bei der Corona-Kontaktverfolgung an der  Hochschule Mannheim auf.</p>
		
		<h5>Datenschutzerklärung</h5><p>Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst. So behandeln wir Ihre personenbezogenen 
		Daten selbstverständlich stets entsprechend der gesetzlichen Datenschutzvorschriften. Wir haben einen fachkundigen und zuverlässigen externen 
		Datenschutzbeauftragten bestellt. Die externe Datenschutzbeauftragung wird von der UIMC Dr. Voßbein GmbH &amp; Co KG, die unter 
		datenschutzbeauftragter@hs-mannheim.de erreichbar ist, wahrgenommen. Nachfolgend möchten wir Sie genauer über die Verarbeitung von personenbezogenen Daten informieren. </p>
		
		<h5>Cookies</h5><p>Diese Seite verwendet „Cookies“ ausschließlich zur internen Nutzung. Cookies sind Textdateien, die auf Ihrem Computer 
		gespeichert werden und die eine verbesserte Nutzung dieser Internetpräsenz ermöglichen. Sie können die Installation der Cookies durch eine entsprechende Einstellung 
		Ihres Browsers verhindern. Dies kann ggf. dazu führen, dass Sie nicht alle Angebote vollumfänglich nutzen können.</p>

		<h5>Protokollierung </h5><p>Bei jedem Zugriff auf die Internetpräsenz werden Protokolle zu statistischen Zwecken erstellt und verarbeitet, 
		wobei der einzelne Benutzer hierbei anonym bleibt. Folgende Daten werden erfasst: </p><ul>
			<li>IP-Adresse und Zugriffszeit</li>
			<li>Zugegriffene Ressourcen und ggf. Referer (Seite, von deren Link Sie zu dieser Internetpräsenz gelangt sind, bei Suchmaschinen evtl. die Suchbegriffe)</li>
			<li>Browser und Betriebssystem</li>
		</ul>
		<p>Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte 
		für eine rechtswidrige Nutzung bekannt werden. Die Daten werden umgehend gelöscht, wenn sie zur Zweckerreichung nicht mehr erforderlich sind, 
		spätestens jedoch nach sechs Monaten.</p>
			
		<h5>Rechtsgrundlagen</h5>	
		<p>Die genannten Daten werden auf Basis unseres berechtigten Interesses gemäß Art. 6 Abs. 1 S. 1 lit. f DSGVO durch uns zu folgenden 
		Zwecken verarbeitet: </p><ul>
			<li>Erfassung der Anwesenheiten von Veranstaltungsteilnehmern und Besuchern im Rahmen der Coronamaßnahmen auf Basis der Verordnung 
			der Landesregierung über infektionsschützende Maßnahmen gegen die Ausbreitung des Virus SARS-CoV-2 (Corona-Verordnung–CoronaVO) insb. § 6</li>
			<li>Verordnung des Wissenschaftsministeriums über infektionsschützende Maßnahmen gegen die Ausbreitung des Virus SARS-CoV-2 im 
			Geschäftsbereich des Wissenschaftsministeriums (Corona-Verordnung Studienbetrieb und Kunst – CoronaVO Studienbetrieb und Kunst) insb. § 4.</li>
			<li>Gewährleistung eines reibungslosen Verbindungsaufbaus der Internetpräsenz</li>
			<li>Gewährleistung einer komfortablen Nutzung unserer Internetpräsenz</li>
			<li>Auswertung der Systemsicherheit und -stabilität</li>
		</ul>
		
		<h5>Nutzung zur Kontaktverfolgung</h5>	
		<p>Die gespeicherten Kontaktdaten werden ausschließlich zur Nachverfolgung von Infektionsketten bei Anfrage durch das Gesundheitsamt genutzt 
			und ggf. an dieses weitergegeben.</p>
			
		<p>	Die gespeicherten Kontaktdaten unterscheiden sich nach Personengruppen wie folgt:</p>
		<ul>
		<li>Studierende und Bedienstete der Hochschule: Mailadresse</li>
		<li>Gäste: Vorname und Name sowie Mailadresse oder Telefonnummer</li>
		</ul>
			
		<p>Kontaktdaten werden für 28 Tage nach dem Besuch bzw. der Teilnahme an einer Veranstaltung an der Hochschule gespeichert und danach automatisiert gelöscht.</p>
	
		<h5>Rechte der Betroffenen</h5>
		<p>Wir informieren Sie hiermit darüber, dass Sie gemäß Artikel 15 ff. DSGVO uns gegenüber unter den dort definierten Voraussetzungen das Recht auf 
		Auskunft über die betreffenden personenbezogenen Daten sowie auf Berichtigung haben. Sie haben ferner das Recht, die Herausgabe der Sie betreffenden 
		Daten in einem gängigen elektronischen, maschinenlesbaren Datenformat an Sie oder an einen von Ihnen zu benennenden Verantwortlichen zu verlangen, 
		wenn Sie diese Daten selbst bereitgestellt haben. Und selbstverständlich haben Sie das Recht, sich wegen eventueller Verstöße gegen 
		datenschutzrechtliche Vorschriften jederzeit an die zuständige Aufsichtsbehörde zu wenden.  </p>
	</div>
</body>

</html>