<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<link rel="stylesheet" href="main.css">
<head>
    <meta charset="UTF-8">
    <title>Login mit Inkognito Modus</title>

</head>
<body>
<div layout:fragment="content">

    <nav id="deviceChoice">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="active"><a class="nav-item nav-link" id="nav-firefox-tab" data-toggle="tab"
                                  href="#firefox" role="tab" aria-controls="nav-android-firefox"
                                  aria-selected="true">Firefox</a></li>
            <li><a class="nav-item nav-link" id="nav-iOS-safari-tab" data-toggle="tab" href="#nav-iOS-safari" role="tab"
                   aria-controls="nav-iOS-safari" aria-selected="false">Safari</a></li>
            <li><a class="nav-item nav-link" id="nav-iOS-chrome-tab" data-toggle="tab" href="#chrome" role="tab"
                   aria-controls="nav-iOS-chrome" aria-selected="false">Chrome</a></li>
        </ul>
    </nav>
    <!-- Firefox -->
    <div class="tab-content" id="nav-tabContent">
        <div class="active tab-pane active" id="firefox" role="tabpanel" aria-labelledby="nav-firefox-tab">
            <h5>Inkognito im Firefox</h5>
            <p>Drücken Sie zuerst auf das Tab Symbol im Browser</p>
            <img class="centerImg" src="/images/android-firefox-qr.png" alt="Firefox Inkognito Modus">

            <p>Dann auf das Maskensymbol (Privates Surfen)</p>

            <img>
        </div>

        <!-- chrome-->
        <div class="tab-pane fade" id="chrome" role="tabpanel" aria-labelledby="nav-iOS-tab">
            <h5>Scannen im Chrome Browser</h5>
            <img class="centerImg" src="/images/ios-chrome-qr.png" alt="Chrome QR-Scanner unter Android">
        </div>

        <!-- Safari-->
        <div class="tab-pane fade" id="nav-iOS-safari" role="tabpanel" aria-labelledby="nav-iOS-tab">
            <p> Sie können die <strong>Iphone Kamera</strong> oder den <strong> <a
                    href="https://support.apple.com/de-de/guide/iphone/iphe8bda8762/ios"> Codescanner </a> </strong>
                nutzen, um den QR-Code in Safari zu öffnen</p>
        </div>
    </div>

    <hr/>
</div>


</body>
</html>