<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">

<head>
    <title>Willkommen</title>
</head>

<body>
    <div layout:fragment="content">

        <h4>Willkommen beim CTT, dem Corona Tracking Tool der Hochschule Mannheim.</h4>
        <p>Ihre Daten werden lediglich zum Zwecke der vorgeschriebenen Kontaktnachverfolgung datenschutzsicher aufbewahrt
            und nach 4 Wochen
            automatisch gelöscht.<br/>
            <hr/>
            <div id="checkinContainer" class="mt-3 mb-3">
                <form id="checkInForm" action="/r/noId" class="mb-3">
                    <h6 id="checkIn">Manueller Check-In</strong></h6><br/>
                    <label for="roomId">Raumnummer:</label>
                    <input type="text" id="roomId" name="roomId" size="6">
                    <button type="submit" id="sendRoom">Los...</button>
                </form>
            </div>
            <hr/>
            <p>Um mit einem Mobilgerät in einen Raum einzuchecken, scannen Sie bitte den QR-Code an dessen Eingang  ab und
                öffnen dann die erkannte Webseite.
                Eine detaillierte Anleitung sowie Ansprechpartner finden Sie unter "Weitere Infos".
                <img src="/images/example.png" width="360" style="float:right" class="mt-3"/>
            </p>
            <hr/>
            <div id="infoCollection">
                <div class="btn-container">
                    <button class="btn btn-primary btn-block mb-5 btn-for-collapsible" id="collapseButtonInfo" type="button" data-toggle="collapse"
                    data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
                    Weitere Infos<i class="fa fa-plus-square"></i>

                </button>
            </div>
            <div class="collapse collapseMarginBottom" id="collapseInfo">
                <div class="card card-body">
                   <h5>Linksammlung</h5>
                   <!-- Todo: links for github-->
                   <div id="links">
                    <ul>
                        <li><a href="https://www.hs-mannheim.de/die-hochschule/hochschule-mannheim/betrieb-unter-corona.html">Corona-Hygienekonzept der Hochschule.</a>
                        </li>
                        <li><a href="/howToQr"> Anleitung für das Nutzen eines QR-Code Scanners </a></li>
                        <li><a href="/"> Vollständiger Code sowie Dokumentation auf Github (Coming Soon)</a></li>
                        <li>
                            <a href="https://owncloud.informatik.hs-mannheim.de/index.php/s/bw33K7HpHjp4YxR">Demo Video
                            der CTT-App</a>
                        </li>
                    </ul>
                    <h5>Ansprechpartner</h5>
                    <div id="contacts">
                       <ul>
                           <li><strong>Im Falle einer Corona Infektion: </strong> <a href="javascript:linkTo_UnCryptMailto('nbjmup;dpspob/{wAit.nbooifjn/ef');">corona [dot] zv [at] hs-mannheim [dot] de</a></li>
                           <li>Bei Problemen oder Interesse an der Software: <a href="javascript:linkTo_UnCryptMailto('nbjmup;benjo/duuA3dmfwfs5zpv/ofu');">admin [dot] ctt [at] 2clever4you [dot] net</a></li>
                       </ul>
                   </div>
                   <h5>Designphilosophie</h5>
                   <div id="project-outline">
                    <ul>
                        <li>minimale, <b>verschlüsselte</b> Datenerfassung der Anwender</li>
                        <li>Datenlöschung nach 4 Wochen</li>
                        <li>OpenSource</li>
                        <li>Datenschutzkonformität in Hinsicht auf Infektionsschutz und Aufbewahrungsfrist</li>
                        <li>Flexible Anwendungsmöglichkeiten (Meetings, Vorlesungen, Workshops etc.)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
