<html lang="de" 
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
<title>Kontaktliste</title>
</head>

<body>
 <div layout:fragment="content">

	<div class="border border-secondary p-2 mb-3">
		<h5 class="mb-4">Kontaktverfolgung</h5>
		
		<div th:if="${#lists.isEmpty(kontakte)}">
	  			<p>Für die angegebene Mail-Adresse konnten keine Kontakte gefunden werden.</p>
		</div>
		
		<div th:if="!${#lists.isEmpty(kontakte)}">
			
			<p>Hier sind die Kontakte f&uuml;r <span th:text="${kranker}" style="background-color: #fae1dc"></span>. Besuche des/der Betroffenen selbst sind jeweils rot hinterlegt.
			   Zur Weitergabe an das Gesundheitsamt können die Daten <a th:href="@{/download(email=${kranker})}">hier als Excel-Datei</a>
			   heruntergeladen werden.</p>
		
			<table class="table table-hover mt-3">
				<thead class="table-info">
				<tr>
					<th>Mailadresse</th>
					<th>Raum/Veranstaltung</th>
					<th>Anmeldezeit</th>
					<th>Abmeldezeit</th>
					<th>Zeitlicher Abstand</th>
				</tr>
				</thead>
				
				<tr th:each="kontakt: ${kontakte}" th:style="${kontakt.besucherEmail} == ${kranker} ? 'background-color: #fae1dc' : ''">
					<td th:text="${kontakt.besucherEmail}"/>
					<td th:text="${kontakt.veranstaltungsName}" />
					<td>am <span th:text="|${#dates.format(kontakt.timestamp, 'dd.MM.yyyy, HH:mm')} Uhr|"></span></td>
					<td>am <span th:text="|${#dates.format(kontakt.endzeit, 'dd.MM.yyyy, HH:mm')} Uhr|"></span></td>
					<td th:text ="|${kontakt.diffInMin} Minute${kontakt.diffInMin != 1 ? 'n' : ''}|" />
				</tr>
			</table>
		</div>
	
	</div>
	
</div>	

</body>

</html>