<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">HSMA CTT</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="shortcut icon" href="https://hs-mannheim.de/typo3conf/ext/hs_mannheim_site/Resources/Public/Images/favicon.ico" type="image/vnd.microsoft.icon" crossorigin="anonymous">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">

	<!-- Email Encryption: https://jumk.de/nospam/stopspam.html -->
	<script type="text/javascript"> <!--
		function UnCryptMailto( s ){
			var n = 0;
			var r = "";
			for( var i = 0; i < s.length; i++) {
				n = s.charCodeAt( i );
				if( n >= 8364 ) {
					n = 128;
				}
				r += String.fromCharCode( n - 1 );
			}
			return r;
		}

		function linkTo_UnCryptMailto( s ) {
			location.href=UnCryptMailto( s );
		}
		// --> </script>
	</head>

	<body>

		<nav class="navbar navbar-expand-md fixed-top navbar-dark text-white" style="background-color: #22376f;">
			<a class="navbar-brand" href="/">
				<img src="https://www.hs-mannheim.de/typo3conf/ext/hs_mannheim_site/Resources/Public/Icons/logo_bildmarke.svg" alt="HSMA" style="width:40px;" class="mr-2">CTT
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse text-nowrap" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link text-white" href="/"><i class="fa fa-home"></i> Home</a>
					</li>
					<li class="nav-item ml-3">
						<a class="nav-link text-white" title="erfordert Admin-Login" href="/printout/rooms"><i class="fas fa-list-ul"></i> Raumlisten</a>
					</li>
					<li class="nav-item ml-3">
						<a class="nav-link text-white" title="erfordert Benutzerkonto" href="/neuVer"><i class="far fa-plus-square"></i> Veranstaltung</a>
					</li>
					<li class="nav-item ml-3">
						<a class="nav-link text-white" title="erfordert Admin-Login" href="/suche"><i class="fas fa-binoculars"></i> Kontaktverfolgung</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
					<li class="nav-item">
						<a class="nav-link text-white" href="/login">Einloggen</a>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()" style="float: right;" >
					<li class="nav-item" th:inline="text">
						<a class="nav-link disabled" href="#">[[${#httpServletRequest.remoteUser}]]</a>
					</li>
					<li>
						<form th:action="@{/logout}" method="post" class="form-inline mt-2 mt-md-0">
							<button class="btn btn-info my-2 my-sm-0 text-white" type="submit">Ausloggen</button>
						</form>
					</li>
				</ul>

			</div>
		</nav>

		<div id="checkin-bar" hidden class="mb-4" style="position: fixed; height: 32px; width: 100%; background-color: #f7d986; margin-top: -25px; margin-left: -15px;">
			<form action="/abmelden">
				<input type="hidden" id="besucherEmail" name="besucherEmail" th:value="${besucherEmail}"/>
				<div style="float:right")>
					<p>Aus dem zuletzt eingecheckten Raum<button type="submit" class="btn btn-link link-secondary mt-n1 ml-n2">abmelden</button></p>
				</div>
			</form>
		</div>

		<div id="spacer" style="height: 32px;" hidden>&nbsp;</div>

		<main role="main" class="container float-left">    
			<p th:if="${message}" class="alert alert-info" style="color: blue" th:text="${message}"></p>
			<p th:if="${error}" class="alert alert-danger" style="color: red" th:text="${error}"></p>	

			<div id="cookieBanner" class="alert alert-warning alert-dismissible fade show" role="alert" hidden>
				<i class="fas fa-cookie-bite"></i> Hinweis: Die von dieser Seite verwendeten internen Cookies dienen nur Verbesserung der Bedienbarkeit und werden nicht weitergegeben. Sie können Ihren Browser jederzeit so konfigurieren, dass Sie nach dem Verlassen der Seite wieder gelöscht werden.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="setBannerCookie()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div layout:fragment="content">
				<p>Body contents</p>
			</div>
			
		</main>

		<footer style="z-index: 1;">
			<p style="font-size: 85%">&copy; 2020-2021
				<a href="https://www.space.hs-mannheim.de" target="_blank">StartupLab@HSMA</a> und
				<a href="https://www.informatik.hs-mannheim.de" target="_blank">Fakultät für Informatik</a>
				<a class="float-right" href="https://www.hs-mannheim.de/impressum.html" target="_blank">Impressum</a>
				<a class="float-right mr-2" th:href="@{/datenschutz}">Datenschutz</a>
				<a class="float-right mr-2" href="https://www.gnu.org/licenses/agpl-3.0.html">CopyRight</a>
			</p>
		</footer>

    </main>
		
		<script>
			$( '#deviceChoice .nav-tabs a' ).on( 'click', function () {
				$( '#deviceChoice .nav-tabs' ).find( 'li.active' ).removeClass( 'active' );
				$( this ).parent( 'li' ).addClass( 'active' );
			});

			window.onload=cookieBanner();
			window.onload=showCheckin();

			function cookieBanner() {
				if (!document.cookie.includes('cookiesAccepted'))
					document.getElementById("cookieBanner").removeAttribute("hidden");
			}
			
			function setBannerCookie() {
				var d = new Date();
				d.setTime(d.getTime() + (5*365*24*60*60*1000));
				document.cookie = "cookiesAccepted=KilroyWasHere;" + "expires=" + d.toUTCString() + ";path=/";
				document.getElementById("cookieBanner").setAttribute("hidden", true);
			}
			
			function showCheckin() {
				if (document.cookie.includes('checked-into') && document.cookie.includes('email')) {
					document.getElementById("checkin-bar").removeAttribute("hidden");
					document.getElementById("spacer").removeAttribute("hidden");
				}
			}


			$(document).ready(function() {
				$('.btn-for-collapsible').click(function() {
					$(this).find('i').toggleClass('fas fa-minus fas fa-plus-square');
				});	


			});


			$('.collapse').on('shown.bs.collapse', function () {
				$("html").animate({ scrollTop: $('.card').offset().top - 50 }, 'slow');
			});

			$('#collapsibleCheckOut').on('shown.bs.collapse', function () {
				$("html").animate({ scrollTop: $('.second').offset().top - 50 }, 'slow');
			});
			
		</script>
	</body>
	</html>