<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<title>Kontaktverfolgung</title>
</head>

<body>
	<div layout:fragment="content">

     <div class="border border-secondary p-2">
		<h5 class="mb-4">Nachverfolgung</h5>

		<p>Bitte geben Sie hier die Mail-Adresse des/r Erkrankten ein, um mögliche Kontakte zu identifizieren.</p>
		
		<form action="/suchen">
			 <div class="form-group">
				<label for="email">E-Mail: *</label>
				<input type="text" id="email" name="email" size="32" class="ml-1" required>
				<input type="submit" class="btn btn-info ml-2" value="Suchen">
			</div>
			
			<p><small><i>* = notwendige Eingabe</i></small></p>

		</form>
		
	  </div>
	  
	</div>
</body>

</html>