<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{rooms/layout}">

<head>
    <title th:text="${'Check-In Raum ' + roomData.roomName}">Check-In</title>
    <script src='/checkInForm.js'></script>
    <style th:if="${checkout}">
        .checkin-only {
            display: none;
        }
    </style>
    <style th:unless="${checkout}">
        .checkout-only {
            display: none;
        }
    </style>
</head>

<body>
<div layout:fragment="content" th:object="${visitData}">

    <h1 class="content-headers checkin-only" style="margin-bottom: 0;">Check-In</h1>
    <h1 class="content-headers checkout-only" style="margin-bottom: 0;">Check-Out</h1>
    <p class="checkin-only"
       th:text="${'Geben Sie Ihre E-Mail-Adresse an um sich in Raum ' + roomData.roomName + ' einzuchecken.'}">Geben Sie Ihre
        E-Mail-Adresse an um sich einzuchecken.</p>
    <p class="checkout-only">Geben Sie Ihre E-Mail-Adresse an um sich aus vorherigen Räumen auszuchecken.
    </p>
    <p class="checkin-only">Raumabmeldung vergessen?
        <a class="button no-js" th:href="@{${roomData.roomId}+ '/checkOut'}">Abmelden </a>
        <button class="js-enabled" id="checkout-button">Abmelden</button>
    </p>
    <div style="width: 30em; max-width: 100%;" class="content">
        <h3 class="content-headers">E-Mail-Adresse</h3>
        <div class="no-js">
            <form class="checkin-only" action="#" th:action="@{checkIn}" method="POST" name="submit-form">
                <div class="form-row">
                    <input style="flex-grow: 1;" name="visitorEmail" type="email" class="email"
                           placeholder="Vollständige E-Mail" value="" required>
                    <input type="hidden" name="rid" th:field="*{roomId}" />
                </div>
                <div class="form-row">
                    <input style="margin-left: 0" type="submit" value="Check-In">
                </div>
            </form>
            <form class="checkout-only" action="#" th:action="@{/r/checkOut}" method="POST" name="submit-form">
                <div class="form-row">
                    <input style="flex-grow: 1;" name="visitorEmail" type="email" class="email"
                           placeholder="Vollständige E-Mail" value="" required>
                    <input type="hidden" name="rid" th:field="*{roomId}" />
                </div>
                <div class="form-row">
                    <input style="margin-left: 0" type="submit" value="Abmelden">
                </div>
            </form>
        </div>
        <div class="js-enabled">
            <form name="input-form">
                <div class="form-row">
                    <input style="flex-grow: 1;" id="email-text" name="email" type="number" class="email"
                           placeholder="Matrikelnummer" value="" required>
                    <select id="email-postfix" name="email-postfix">
                        <option value="student">@stud.hs-mannheim.de</option>
                        <option value="internal">@hs-mannheim.de</option>
                        <option value="external">Extern</option>
                    </select>
                </div>
                <div class="form-row checkin-only">
                    <input id="email-auto-sign-in" name="email-auto-sign-in" type="checkbox">
                    <label for="email-auto-sign-in">Für automatischen Check-In speichern</label>
                </div>
            </form>
            <div class="form-row checkin-only">
                <form action="#" th:action="@{checkIn}" method="POST" id="submit-form"
                      name="submit-form">
                    <input style="margin-left: 0" type="submit" value="Check-In">
                    <input id="submit-form-email" name="visitorEmail" type="hidden" value="">
                    <input type="hidden" name="rid" th:field="*{roomId}" />
                </form>
            </div>
            <div class="form-row checkout-only">
                <form  action="#" th:action="@{/r/checkOut}" method="POST" id="submit-form-checkout"
                      name="submit-form">
                    <input style="margin-left: 0" type="submit" value="Abmelden">
                    <input id="submit-form-email-checkout" name="visitorEmail" type="hidden" value="">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>