<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{rooms/layout}">

<head>
    <title>Erfolgreich ausgecheckt</title>
</head>

<body>
<div layout:fragment="content">
    <h1 class="content-headers" style="margin-bottom: 0;">Aus allen Räumen abgemeldet</h1>
    <p>Vielen Dank für die Unterstützung eines reibungslosen Betriebs an der Hochschule Mannheim!</p>
    <div class="icon-container">
        <div class="icon-background thumbs-up"></div>
    </div>
    <p>Zurück zur <a href="/">Hauptseite</a></p>
</div>
</body>
</html>
