<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{rooms/layout}">

<head>
    <title>Error</title>
</head>

<body>
<div layout:fragment="content">
    <h1 class="content-headers" style="margin-bottom: 0;">Ein Fehler ist aufgetreten</h1>
    <div class="icon-container">
        <div class="icon-background no-access"></div>
    </div>
    <div>Hier kommt dann der genaue Fehler Code</div>


    <div>Hier kann man zurück zu der Seite von der man kommt</div>


</div>
</body>
</html>
