<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{rooms/layout}">

<head>
    <title th:text="${'Raum ' + roomData.roomName + ' ist voll'}">Check-in</title>
</head>

<body>
<div layout:fragment="content">
    <h1 class="content-headers" style="margin-bottom: 0;">Raum voll</h1>
    <p th:text="${'Dieser Raum '+roomData.roomName+ ' scheint voll zu sein,Maximal: ' + roomData.maxCapacity+ ' Personen. Bitte überprüfen Sie ob die Kapazität auf dem Schild mit den Personen im Raum übereinstimmt! '
      }">
    </p>
    <div class="icon-container">
        <div class="icon-background no-access"></div>
    </div>
    <p>Sollten weniger Personen im Raum sein, als von der App angezeigt, können Sie sich trotzdem anmelden.</p>
    <div>
        <a class="button">ANMELDEN</a>
    </div>
    <p>Bereits in diesem Raum angemeldet?</p>
    <p>
        <a class="button" th:href="@{'/r/'+${roomData.roomId}+'/checkOut'}">Abmelden</a>
    </p>

</div>
</body>
</html>
