<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{rooms/layout}">

<head>
    <title th:text="${'Raum ' + roomData.roomName + ' ist voll'}">Check-in</title>
</head>

<body>

<div layout:fragment="content">
    <h1 class="content-headers" style="margin-bottom: 0;">Raum voll</h1>
    
    <p th:text="${'Der Raum ' + roomData.roomName + ' scheint voll zu sein, laut Hygienekonzept dürfen sich
    				maximal ' + roomData.maxCapacity+ ' Personen gleichzeitig darin aufhalten.'}"> </p>
    
    <div class="icon-container">
        <div class="icon-background no-access"></div>
    </div>
    
    <p th:if="${@environment.getProperty('allow_full_room_checkIn')}">
    	Sollten weniger Personen im Raum sein als die maximale Kapazität anzeigt, können Sie sich nach Absprache mit der
        Veranstaltungsleitung trotzdem anmelden.</p>
        
    <p th:if="${not @environment.getProperty('allow_full_room_checkIn')}" style="font-weight: bold; text-align: justify; justify-content: center">Bitte den Raum nicht betreten!</p>
    <br />   
    <p th:if="${not @environment.getProperty('allow_full_room_checkIn')}">Sollten sich erkennbar weniger Personen im Raum aufhalten,
     	als oben angegeben, können Sie die Veranstaltungsleitung bitten, den Raum zurückzusetzen.</p>  
    
    <div th:if="${@environment.getProperty('allow_full_room_checkIn')}">
        <a style="background-color: #ffbf00;color: black;font-weight: bold; border-radius: 12px; padding: 10px"
           class="button" th:href="@{${roomData.roomId} + '?override=true'}">TROTZDEM ANMELDEN</a>
    </div>
    
    <p>Bereits in diesem Raum angemeldet?</p>
    <p>
        <a class="button" th:href="@{${roomData.roomId}+ '/checkOut'}">Abmelden</a>
    </p>
</div>

</body>
</html>
