<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset='utf-8'>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">HSMA CTT</title>
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<div style="width: 100%;" class="flex-container content-container">
    <div class="flex-container header-bar" id="header-container">
        <div class="flex-container header-bar center-container">
             <a class="navbar-brand" href="/">
        		<img src="https://www.hs-mannheim.de/typo3conf/ext/hs_mannheim_site/Resources/Public/Icons/logo_bildmarke.svg" alt="HSMA" style="width:40px;" class="mr-2">
    		</a>
    		<h1 style="margin-left: 0.42em; margin-top: 0.15em">
    			<a style="color:white; text-decoration:none" href="/">CTT</a>
    		</h1>
        </div>
    </div>
    
    <div class="center-container hidden" id="checkout-bar">
        <p>Momentan eingecheckt in Raum A008</p>
        <button>Abmelden</button>
    </div>
    
    <div class="page-content center-container">

        <div th:if="${isCheckedIn}" id="checkout-hint" class="custom-card" role="alert">
            <form id="check-in-alert-form" action="#" th:action="@{/r/checkOut}" method="post" >
                <input type="hidden" name="visitorEmail" th:value="${checkedInEmail}">
                <p style="margin: 5px;">Sie sind noch in Raum <b th:text="${checkedInRoom}"></b> eingecheckt</p>
                <button type="submit" class="hs-button">Auschecken</button>
            </form>
        </div>

        <div class="flex-container content-container center-container" id="main-content" layout:fragment="content"></div>

    </div>
    
    <footer class="center-container flex-container">
        <div class="footer-content">
            <span>© 2020-2021</span>
            <a href="https://www.informatik.hs-mannheim.de" target="_blank">Fakultät für Informatik</a>,
            <a href="https://www.space.hs-mannheim.de" target="_blank">StartupLab@HSMA</a> und
            <a href="https://www.kis.hs-mannheim.de/home.html" target="_blank">KIS</a>

        </div>
        <div class="footer-content">
            <a class="float-right mr-2" href="https://www.gnu.org/licenses/agpl-3.0.html">Lizenz</a>
            <a class="float-right" href="/datenschutz">Datenschutz</a>
            <a class="float-right  mr-2" href="https://www.hs-mannheim.de/impressum.html" target="_blank">Impressum</a>
        </div>
    </footer>

    <script src="/main.js"></script>
    
</div>
</body>

</html>
