<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Raumlisten</title>
</head>

<body>

<div layout:fragment="content">
    <div class="border border-secondary p-2">
        <h5 class="mb-4">Raumschilder herunterladen</h5>
        <ul>
            <th:block th:each="building : ${buildings}">
                <li><a th:href="@{rooms/{building}(building=${building})}"
                       th:text="${'Gebäude ' + building + '.docx'}"></a></li>
            </th:block>
        </ul>
    </div>
</div>

</body>
</html>