<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Raumlisten</title>
</head>

<body>

<div layout:fragment="content">
    <div class="border border-secondary p-2">
        <h5 class="mb-4">Raumschilder herunterladen</h5>

        <a th:href="@{rooms/download(privileged=false)}" th:text="${'Alle Raumaushänge herunterladen'}"></a>
        <br>
        <a th:href="@{rooms/download(privileged=true)}" th:text="${'Alle priviligierten Raumaushänge herunterladen'}"></a>

    </div>
</div>

</body>
</html>