<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{rooms/layout}">

<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<meta name="room-pin" th:content="${roomData.roomPin}"/>
	<meta http-equiv="refresh" content="30" >
	<title>Veranstaltungsleitenden-Portal</title>
</head>

<body>
	<div layout:fragment="content">

		<h3 class="text-center">Portal für Veranstaltungsleitende</h3>
		
		<h4 class="text-center">
			Raum <span th:text="${roomData.roomName}"></span> |
			Gebäude <span th:text="${roomData.building}"></span>
		</h4>
		
		<div class="col align-stretch">

			<div class="row justify-around">

				<div class="card flex-1">
					<h5 class="text-center">Raumkapazität nach IfSG</h5>
					<p class="text-center"><strong th:text="${roomData.maxCapacity+' '}"></strong>Personen</p>
				</div>

				<div class="card flex-1">
					<h5 class="text-center">eingecheckte Personen</h5>
					<p id="checked-in-amount" class="text-center"><strong th:attr="style=${isRoomOvercrowded ? 'color: red;' : ''}" th:text="${currentRoomVisitorCount+' '}"></strong>Personen</p>
				</div>

			</div>

			<div class="card">
				<div class="card-body">
					<p>
						Wenn die Zahl der im Raum eingecheckten Personen die Raumkapazität überschreitet, können Sie den Raum zurücksetzen.
						Nach dem Zurücksetzen des Raumes müssen sich alle Personen erneut einchecken.
					</p>
				</div>
				<div class="card-footer">
					<button id="reset-room" type="button" class="hs-button">Raum zurücksetzen</button>
				</div>
			</div>

			<form method="POST" th:action="@{/r/checkOut}">

				<div class="card">
					<div class="card-body">
						<p>Um an Präsenzveranstaltungen teilnehmen zu können, müssen alle Personen mindestens eines der folgenden Kriterien erfüllen:</p>
						<p>Die Person...</p>
						<ul>
							<li>
								kann ein negatives Corona-Schnelltestergebnis vorweisen (nicht älter als 72h)
								<strong>oder</strong>
							</li>
							<li>
								kann eine vollständige Corona-Impfung nachweisen (vor mind. 3 Wochen abgeschlossen)
								<strong>oder</strong>
							</li>
							<li>
								ist nach einer Corona-Infektion vollständig genesen (in den letzten 6 Monaten)
							</li>
						</ul>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="confirm_conditions" required>
							<label class="form-check-label" for="confirm_conditions">
								Ich habe geprüft, ob alle anwesenden Personen mindestens eines der oben genannten Kriterien erfüllen.
							</label>
						</div>
					</div>
				</div>

				<div class="card">

						<div class="card-body">
							<p class="card-text">Hier können Sie sich selbst aus dem Raum auschecken</p>
						</div>
						<div class="card-footer">
							<button type="submit" class="hs-button">Raum verlassen</button>
						</div>
						<input type="hidden" name="visitorEmail" th:value="${visitorEmail}"/>
				</div>

			</form>

			<script src='/veranstaltungsleitenden-portal.js'></script>

		</div>

	</div>

</body>

</html>
